
/*-------------*/
* {
  font-size: 22px;
  font-family: helvetica, sans-serif;
  text-align: center;

  color: seashell;
  background-color: black;
  opacity: 0.9;
}
/*-------------*/

header {
  height: 69px;
  width: 100%;
  display: flex;

  border-bottom: 1px solid seashell;

  justify-content: space-between;
  z-index: 10;

    border: 1px solid red;
}
header .title {
  height: 50px;

  padding-left: 10px;

    border: 1px solid red;
}
header .nav {
  text-decoration: underline;

    border: 1px solid red;
}

/*************/
/* Main Body */
body {


    border: 1px solid red;
}

/*  */
.content {

}

/***********************/
/* Content 1: mission */
.mission {

}
.mission .title {
  text-transform: capitalize;
}
.mission .title h2 {

}
.mission .title h4 {

}


/************************/
/* Content 2: selection */
.selection {

}
.selection .title {

}
.selection .title h2 {

}
.selection .title h4 {

}

.selection .teas {

}
.selection .teas img {

}
.selection .teas h4 {
  text-transform: capitalize;
}

.selection .teas .berry {

}
.selection .teas .rum {

}
.selection .teas .donuts {

}
.selection .teas .myrtle {

}
.selection .teas .bedford {

}
/***********************/
/* Content 3: location */
.location {

}
.location .title {

}
.location .place {

}



/**********/
/* footer */
footer {

}
footer .title {

}
footer .title  h2{

}

footer .contact {

}
footer .contact h5 {

}
footer .copyright {

}
footer .copyright h5 {

}
